<span class="btn_help">
    <a tabindex="0" role="button" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<%= explain %>"> 
        <i class="fas fa-question"></i>
    </a>
</span>
