<%
let start = moment(reserve.start_at).format("M/D (ddd) HH:mm~");
%>


<div class="user_module mb-2 shadow-sm"><a href="/reserve/detail/<%=reserve._id%>">
    <%=start%>
    『<%=reserve.scenario_title%>』
    主催: <%=reserve.owner.twitter_name%>
</a></div>
