<%- include("./module/user", {user:user, link:true}) %>


<% if (entry_status === "matched") { %>
マッチングしました

<% for (let i = 0; i < matched.length; i++) { %>
<div><%= matched[i].twitter_name %>さん</div>
<% } %>

<% } else if (entry_status === "entried") { %>

マッチング中

<form method="POST" action="/entry/cancel">
    <p class="text-center"><button type="submit" class="btn btn-danger">キャンセル</button></p>
</form>

<% } else { %>

<form method="POST" action="/entry/">
   <p class="text-center"><button type="submit" class="btn btn-success">マッチング開始</button></p>
</form>

<% } %>
