<div class="intro_icon mx-auto">
    <p>声劇マッチング</p>
    <p class="text-right">
        with
        <i class="fab fa-twitter color_twitter ml-2 mr-2"></i>
        <i class="fas fa-times mr-2"></i>
        <i class="fab fa-skype color_skype ml-1"></i>
    </p>
</div>

<div class="intro mt-4 p-2 shadow-sm alert alert-secondary" role="alert"">
    <h5 class="mb-4">今日、遊ぶ仲間と繋がろう！</h5>

    <p></p>
    <p>簡単な３ステップでランダムマッチング！</p>
    <ol>
        <li>Twitterでログイン</li>
        <li>性別とSkype IDを登録</li>
        <li>マッチングボタンをポチッと</li>
    </ol>
    <p>Skypeで会議を作って遊ぼう！</p>
</div>

<div class="mt-5">
    <div class="mb-3">
        <h5>さあ、始めよう！</h5>
    </div>
    <div class="text-center">
        <a class="btn bg_twitter" role="button" href="/twitter/login">
            <i class="fab fa-twitter mr-1"></i>
            Twitterでログイン
        </a>
    </div>
</div>
