<div class="intro mt-4 p-2 shadow-sm alert alert-secondary" role="alert"">
    <h5>今日、遊ぶ仲間と繋がろう！</h5>

    <p>使い方は簡単な３ステップ</p>
    <ol>
        <li>Twitterでログイン</li>
        <li>性別とSkype IDを登録</li>
        <li>マッチングボタンをポチッと</li>
    </ol>
    <p>ランダムで今日の相手とマッチング！</p>
    <p>Skypeで会議を作って遊ぼう！</p>
</div>

<div class="mt-5">
    <div class="mb-3">
        <h5>さあ、始めよう！</h5>
    </div>
    <div class="mx-auto w-50">
        <a class="login_btn btn btn-outline-primary" role="button" href="/twitter/login">
            <i class="fab fa-twitter mr-2"></i>Twitter Login
        </a>
    </div>
</div>
