html {
    height: 100%;
    position: relative;
}
body {
    height: 100%;
}

@media (max-width: 767.98px) {
    body {
        width: auto; 
    }
}

@media (min-width: 768px) {
    body { 
        width: 768px;
        margin: auto;
    }
}

.content {
    height: 100%;
    min-height: 100%;
    background: #FFF4E0;
}

body > .content {
    height: auto;
}

.main {
    width: 90%;
    margin: auto auto 40px auto;
}

p {
    line-height: 0.75em;
}
.bolder {
    font-weight: bolder;
}

.bg_orange {
    background: #FFC679;
}
.bg_red {
    background: #F99292;
}
.bg_twitter {
    background: #00ACED;
}
.color_twitter {
    color: #00ACED;
}
.color_skype {
    color: #00AFF0;
}
.color_ok {
    color: green;
}
.color_ng {
    color: red;
}

.btn {
    color: white;
}
.btn:disabled {
    background: #ccc;
}

.pointer {
    cursor: pointer;
}

.site_title {
    font-color: #696969;
    text-shadow: 1px 1px 1px silver;
}

.header .question {
    border-radius: 50%;
    width: 40px;
    margin-right: 2px;
    float: right;
}
.header .user_img {
    border-radius: 50%;
    width:  40px;
    height: 40px;
    float: right;
}

.modal {
    top: 150px;
}

footer {
    padding: 0 10px 10px 10px;
    font-size: x-small;
    width: 100%;
}

.user_module {
    font-size: 18px;
    background: #FFFFCC;
    padding: 10px;
}
.user_module .twitter_img {
    border-radius: 50%;
    width:  70px;
    height: 70px;
    margin-right: 10px;
    float: left;
}
.user_module .twitter_name {
    color: #555555;
    margin-top: 4px;
    width: 100%;
    word-wrap: break-word;
}
.user_module .twitter_id {
    margin-left: 5px;
    font-size: 12px;
    opacity: 0.5;
}
.user_module .skype {
    opacity: 0.5;
    margin: 2px 5px 8px 0;
}

.loading {
    margin: auto;
    width: 60px;
    height: 60px;
    border: 5px solid rgba(0,0,0,0.4);
    border-top-color: rgba(0,0,0,0.9);
    border-radius: 50%;
    animation: spin 1.2s linear 0s infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* index */
.intro_icon {
    width: 80%;
    font-size: 30px;
}
.intro_icon .fa-times {
    font-size: 20px;
}
.intro {
    color: #555555;
}
