html {
    height: 100%;
    position: relative;
}
body {
    height: 100%;
}

@media (max-width: 767.98px) {
    body {
        width: auto; 
    }
}

@media (min-width: 768px) {
    body { 
        width: 768px;
        margin: auto;
    }
}

.content {
    height: 100%;
    min-height: 100%;
    background: #FFF4E0;
}

body > .content {
    height: auto;
}

.main {
    width: 90%;
    margin: auto auto 40px auto;
}

h6 {
    font-weight: bold;
}
p {
    line-height: 0.75em;
}
.bolder {
    font-weight: bolder;
}

.bg_orange {
    background: #FFC679;
}
.bg_red {
    background: #F99292;
}
.bg_green {
    background: #33CC66;
}
.bg_twitter {
    background: #00ACED;
}
.color_green {
    color: green;
}
.color_red {
    color: red;
}
.color_twitter {
    color: #00ACED;
}
.color_skype {
    color: #00AFF0;
}

.btn {
    color: white;
}
.btn:disabled {
    background: #ccc;
}

.fa-mars {
    color: blue;
}
.fa-venus {
    color: red;
}

.pointer {
    cursor: pointer;
}

.site_title {
    font-color: #696969;
    text-shadow: 1px 1px 1px silver;
}

.header .menu:hover {
    text-decoration: none;
}
.header span {
    height: 40px;
}
.header .question {
    display: inline-block;
    border-radius: 50%;
    border: solid thin;
    width:  40px;
    height: 40px;
    margin-right: 6px;
}
.header .question i {
    font-size: 1.5em;
    position: relative;
    top: 6px;
    right: 10px;
}
.header .user_img {
    margin-top: 0px;
    border-radius: 50%;
    width:  40px;
    height: 40px;
}

.modal {
    top: 90px;
}

footer {
    padding: 0 10px 10px 10px;
    font-size: x-small;
    width: 100%;
}

.user_module {
    font-size: 16px;
    background: #FFFFCC;
    padding: 6px;
}
.user_module .twitter_img {
    border-radius: 50%;
    width:  50px;
    height: 50px;
    margin: auto auto 10px 0px;
    float: left;
}
.user_module .twitter_name {
    color: #555555;
    margin: 2px 0px 0px 60px;
    word-wrap: break-word;
}
.user_module .twitter_id {
    margin-left: 2px;
    font-size: 12px;
    opacity: 0.5;
}
.user_module .skype {
    opacity: 0.5;
    margin: 2px 5px 0px 60px;
}

/* animation */
.loading {
    margin: auto;
    width: 60px;
    height: 60px;
    border: 5px solid rgba(0,0,0,0.4);
    border-top-color: rgba(0,0,0,0.9);
    border-radius: 50%;
    animation: spin 1.2s linear 0s infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.fadeIn {
    animation: fadeIn 0.8s ease;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeOut {
    animation: fadeOut 0.4s ease;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.shiny {
	position: relative;
	z-index: 0;
	overflow: hidden;
	transition: .25s linear;
}
.shiny:before {
	position: absolute;
	z-index: -1;
	left: -30%;
	top: -50%;
	content: "";
	width: 25%;
	height: 200%;
	transform: rotate(30deg);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,0)));
	animation: shiny 2s infinite linear;
}
@keyframes shiny {
	0% { left: -30%; }
	20% { left: 120%; }
	100% { left: 120%; }
}

/* index */
.intro_icon {
    width: 80%;
    font-size: 30px;
}
.intro_icon .fa-times {
    font-size: 20px;
}
.intro {
    color: #555555;
}

/* help */
.help_main {
    width: 80%;
}
.help_img_sp {
    width: 180px;
    height: 320px;
}

/* user */
#user_ng_list_input_sample {
    display: none;
}

/* reserve */
#reserve_create_chara_sample {
    display: none;
}
.reserve_create_basic label {
    width: 75px;
}
.reserve_create_basic input {
    width: calc(100% - 80px);
}
.reserve_create_basic select {
    width: calc(100% - 80px);
}
.reserve_basic_info {
    font-size: 16px;
}
.reserve_detail_owner_buttons {
    margin-top: 100px;
}
.chara {
    font-size: 18px;
}
.chara i.fa-question {
    font-size: 0.9em;
}
.chara form {
    height: 62px;
}
.chara button {
    margin-top: 8px;
}

