.bs-component + .bs-component {
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .bs-docs-section {
        margin-top: 8em;
    }
    .bs-component {
        position: relative;
    }
    .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
    }
    .bs-component .modal-dialog {
        width: 90%;
    }
    .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }
    .nav-tabs {
        margin-bottom: 15px;
    }
    .progress {
        margin-bottom: 10px;
    }
}

.user_module {
    font-size: 18px;
    background: #E7F1ED;
    padding: 10px;
    height: 95px;
}
.user_twitter_img {
    border-radius: 50%;
    width:  75px;
    height: 75px;
    margin-right: 2px;
    float: left;
}
