<h4 class="mb-4">ヘルプ - よくある質問</h4>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>マッチング時に性別は影響するの？</h6>
    <div class="mb-4">
        サシ劇は性別関係なくマッチングします。複数人の劇では男女比率に大きな偏りがないようにマッチングします。
    </div>

    <h6>1回マッチングしたあと、もう一度できるようになるのはいつ？</h6>
    <div class="mb-4">
        有効時間がすぎれば、マッチング開始画面に戻ります。
        劇をせず何度もマッチングだけをする使い方を防ぐ意味もあるので、ご理解頂ければ幸いです。
    </div>

    <h6>性別は不問は選べないの？</h6>
    <div class="mb-4">
        きまぐれ日和では身体的な性別をお選びください。性別逆転などはマッチング相手とご相談ください。
    </div>

    <h6>性別を間違えて選んでしまった</h6>
    <div class="mb-4">
        Twitterの<a href="https://twitter.com/MatchingRandom">きまぐれ日和アカウント</a>までお問い合わせください。
    </div>

    <h6>通知が来ない</h6>
    <div class="mb-4">
        Twitterの設定で、フォロー外からのDMができない可能性があります。詳しくは<a href="/help/push">こちら</a>をご参照ください。
    </div>

    <h6>問い合わせ先</h6>
    <div class="mb-4">
        Twitterの<a href="https://twitter.com/MatchingRandom">きまぐれ日和アカウント</a>までお問い合わせください。
        匿名がよければ<a href="https://peing.net/ja/matchingrandom">質問箱</a>をご利用ください。
        
    </div>

</div>
