<h4 class="mb-4">ヘルプ</h4>

<div class="ml-4">
<p></p>
<p></p>
</div>

<ul class="list-group">
    <li class="list-group-item"><a href="/help/init/">基本的な使い方</a></li>
    <li class="list-group-item"><a href="/help/push/">DM通知</a></li>
    <li class="list-group-item"><a href="/help/ng/">マッチングNG機能</a></li>
    <li class="list-group-item"><a href="/help/faq/">よくある質問</a></li>
</ul>

<%- include("../module/help_explain", {}) %>
