<h4 class="mb-4">ヘルプ</h4>

<ul class="list-group mt-1 mb-4">
    <li class="list-group-item"><a href="/help/init/">初回登録</a></li>
</ul>

<h5>シーンごとの使い方</h5>
<ul class="list-group mt-1 mb-4">
    <li class="list-group-item"><a href="/help/scene_reserve/">やりたい台本がある時</a></li>
    <li class="list-group-item"><a href="/help/scene_wild/">○○時から野良劇をしたい時</a></li>
    <li class="list-group-item"><a href="/help/scene_instant/">さっと劇をしたい時</a></li>
</ul>

<h5>機能説明</h5>
<ul class="list-group mt-1 mb-4">
    <li class="list-group-item"><a href="/help/push/">DM通知</a></li>
    <li class="list-group-item"><a href="/help/ng/">マッチングNG機能</a></li>
    <li class="list-group-item"><a href="/help/faq/">よくある質問</a></li>
</ul>

<%- include("../module/help_explain", {}) %>
