<h4 class="mb-4">ヘルプ - 初回登録</h4>

<div>初回のログインからマッチングまでの手順です。</div>
<div class="text-right mb-4">推定時間: 3分</div>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>1. ログイン画面</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/init_1_gimp.png">
    </div>
    
    <h6>2. Twitter認証</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/init_2_gimp.png">
    </div>
    
    <h6>3. ログイン後</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/init_3_gimp.png">
    </div>
    
    <h6>4. ユーザー画面</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/init_4_gimp.png">
    </div>
    
    <h6>5. ユーザー情報更新</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/init_5_gimp.png">
    </div>

    <div>
        これで設定は完了です。マッチング劇や募集劇でお楽しみください！
    </div>
</div>

<%- include("../module/help_explain", {}) %>
