<h4 class="mb-4">ヘルプ - マッチングNG機能</h4>

<div>マッチングのNG機能です。</div>
<div>NGに登録するとその相手とマッチングしなくなります。</div>
<div class="text-right mb-4">推定時間: 3分</div>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>1. Twitter IDの確認</h6>
    <div class="text-center mb-4">
    <img class="help_img_sp" src="/images/ng_1_gimp.png">
    </div>
    
    <h6>2. ユーザー画面で設定</h6>
    <div class="text-center mb-4">
    <img class="help_img_sp" src="/images/ng_2_gimp.png">
    </div>
    
    <h6>3. 確認</h6>
    <div class="text-center mb-4">
    <img class="help_img_sp" src="/images/ng_3_gimp.png">
    </div>
</div>

<%- include("../module/help_explain", {}) %>
