<h4 class="mb-4">ヘルプ - DM通知機能</h4>

<div>マッチング成功時にTwitterのDMで通知します。</div>
<div class="text-right mb-4">推定時間: 3分</div>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>1. きまぐれ日和のユーザー設定</h6>
    <div class="mb-4">
        <a href="/user/">ユーザー設定</a>で「DM通知」にチェックを入れて更新
    </div>
    
    <h6>2. Twitterの通知を受けれるようにする</h6>
    <div class="mb-4">
        ※Twitterの<a href="https://twitter.com/MatchingRandom">きまぐれ日和アカウント</a>をフォローして頂いている場合はこの設定は不要です。<br>
        Twitterの「設定とプライバシー」→「プライバシーとセキュリティ」→「すべてのアカウントからメッセージを受け取る」を設定
    </div>
    
    <h6>3-1. Twitterの通知設定 (アプリの場合)</h6>
    <div class="mb-4">
        Twitterアプリで「設定とプライバシー」→「通知」→「プッシュ通知」→「ダイレクトメッセージ」を設定
    </div>

    <h6>3-2. Twitterの通知設定 (PCの場合)</h6>
    <div class="mb-4">
        Twitterで「設定とプライバシー」→「Web通知」→「ブラウザ通知をオンにする」→「ダイレクトメッセージを受け取ったとき」を設定
    </div>
</div>
