<h4 class="mb-4 mx-auto">ヘルプ - さっと劇をしたい時</h4>

<div class="mb-4">マッチング劇の機能をお使いください！</div>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>1. タグを設定して、エントリーボタンを押す</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <img class="help_img_sp" src="/images/help/scene_instant_1.png">
        <div class="mt-2 text-left">
            タグは必須ではありませんが、是非おすすめタグをタップして設定してください。自分で入力してタグを作ることもできます。
        </div>
    </div>
    
    <h6>2. マッチング中</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <img class="help_img_sp" src="/images/help/scene_instant_2.png">
        <div class="mt-2 text-left">
            マッチング中は画面を離れても、マッチングは継続されます。
            画面を離れる場合は是非、<a href="/help/push">DM通知機能</a>をご利用ください。
        </div>
    </div>
    
    <h6>3. マッチング後</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <img class="help_img_sp" src="/images/help/scene_instant_3.png">
        <div class="mt-2 text-left">
            一番上の人が、Skypeで会議を作成してください。SkypeIDをタップするとコピーされます。
        </div>
    </div>

</div>

<%- include("../module/help_explain", {}) %>
