<h4 class="mb-4">ヘルプ - ○○時から野良劇をしたい時</h4>

<div class="mb-4">
    <div>ぜひ、募集劇の機能をお使いください！</div>
    <div>台本と役を未定で作成すれば、野良劇にも利用できます。</div>
</div>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>1. 左上メニューから募集劇のページを開く</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/help/scene_wild_1.png">
    </div>
    
    <h6>2. 新規作成</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/help/scene_wild_2.png">
    </div>
    
    <h6>3. 情報を入力</h6>
    <div class="text-center mb-4">
        <img class="help_img_sp" src="/images/help/scene_wild_3.png">
        <img class="help_img_sp mt-2" src="/images/help/scene_wild_4.png">
        <div class="mt-2 text-left">
            役については上記のような設定がオススメです。
            最大8名で5:3~3:5の比率で募集します。
        </div>
    </div>

    <h6>4. 募集作成後</h6>
    <div class="text-center mb-4">
        <div class="mt-2 text-left">
            劇前は以下の機能が使えます。
            <ul>
                <li>演者登録</li>
                <li>募集の編集</li>
                <li>ツイートボタン</li>
            </ul>
            劇後は以下の機能が使えます。
            <ul>
                <li>MVP機能</li>
            </ul>
            詳しくは、<a href="/help/scene_reserve">やりたい台本がある時</a>をご参照ください。
        </div>
    </div>

</div>

<%- include("../module/help_explain", {}) %>
