<h4 class="mb-4 mx-auto">ヘルプ - やりたい台本がある時</h4>

<div class="mb-4">ぜひ、募集劇の機能をお使いください！</div>

<div class="help_main mx-auto shadow-sm alert alert-secondary" role="alert"">
    <h6>1. 左上メニューから募集劇ページを開く</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <img class="help_img_sp" src="/images/help/scene_reserve_1.png">
    </div>
    
    <h6>2. 新規作成</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <img class="help_img_sp" src="/images/help/scene_reserve_2.png">
    </div>
    
    <h6>3. 情報を入力</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            必要な情報を記入し、新規作成ボタンを押してください。
        </div>
        <img class="mt-2 help_img_sp" src="/images/help/scene_reserve_3.png">
        <div class="mt-2 text-left">
            ※非公開の場合、URLを教えた人しか辿り着けません。
        </div>
    </div>

    <h6>4. 演者登録</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            募集を作成したら、演者登録に関する3つ機能が利用できます。
            <ul>
                <li>エントリー</li>
                <li>ゲスト登録（主催のみ）</li>
                <li>依頼（主催のみ）</li>
            </ul>
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_4.png">
    </div>

    <h6>4-1. エントリー</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            参加希望者にボタンを押してもらえば、演者登録完了です。
            参加者がページに来た場合、以下の画面になります。
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_5.png">
    </div>

    <h6>4-2. ゲスト登録</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="text-left">
            きまぐれ日和を使っていない人を演者登録するための機能です。主催者のみ行えます。
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_6.png">
    </div>

    <h6>4-3. 依頼</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            TwitterのDMで依頼する機能です。募集文のテンプレートが自動でコピーされます。
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_7.png">
    </div>

    <h6>4-4. 登録例</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            ヒュンケル役をゲスト登録、ベルニウス役に自分でエントリーした例です。
        </div>
        <div class="mt-2 text-left">
            主催者はxボタンから演者登録のキャンセルができます。
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_8.png">
    </div>

    <h6>5. 編集して公開募集</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            広く募集したい場合は、一番下の編集ボタンから、公開に変更してください。一覧ページに表示されるようになります。
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_9.png">
        <div class="mt-2 text-left">
            ツイートボタンから募集をツイートすることもできます。
        </div>
    </div>

    <h6>6. 上演</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            演者が集まり、開始時間が来たら、劇をお楽しみください！
        </div>
    </div>

    <h6>7. 劇後</h6>
    <div class="text-center mb-4 w_95 mx-auto">
        <div class="mt-2 text-left">
            MVP投票ができます。よければご利用ください。
        </div>
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_10.png">
        <img class="help_img_sp mt-2" src="/images/help/scene_reserve_11.png">
    </div>


</div>

<%- include("../module/help_explain", {}) %>
